### Gradle ###
.gradle
.gradle-home/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/
.gradle-user

.run/

### VS Code ###
.vscode/
.eclipse/

### Minecraft Modding ###
run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/
